---
import { Icon } from "astro-icon/components";
import Skill from "./skill.astro";
import ScrollingSkills from "./scrolling-skills.astro";
const skillColor = "rgb(217 120 239)";
---

<section>
  <h1 class="text-3xl text-shadow-sm shadow-black">Meine Fähigkeiten</h1>
  <ScrollingSkills />
  <div class="skills">
    <ul>
      <Skill title="Web-Development" value={70} color={skillColor} />
      <Skill title="Desktop-Entwicklung (GUI)" value={30} color={skillColor} />
      <Skill title="Dev-Tools" value={60} color={skillColor} />
      <Skill title="Linux" value={60} color={skillColor} />
      <Skill title="Vibes 😎" value={90} color={skillColor} />
    </ul>
  </div>
</section>

<style>
  section h1 {
    margin-bottom: 2rem;
  }

  .skills {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }

  .skills > ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
    list-style: none;
    padding: 0;
  }
</style>
